/* Full page background */
.welcome-container {
  background: #000000;
  color: #ffffff;
  height: 100vh;
  width: 100%;
  font-family: 'Inter', 'Humane', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Welcome card */
.welcome-card {
  background: #000000;
  border-radius: 16px;
  padding: 2.5rem;
  max-width: 320px;
  width: 90%;
  text-align: center;
  margin-top:0.5rem;
}

.brand-logo {
  background-color: white;
  color: black;
  width: 48px;
  margin-right: 0.5rem;
}


/* Title + Subtitle */
.welcome-title {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 1rem 0;
}
.welcome-subtitle {
  font-size: 0.95rem;
  font-weight: 300;
  color: #a3a3a3;
  line-height: 1.5;
  margin-bottom: 1rem;
}

/* Features list */
.feature-list {
  list-style: none;
  padding: 0;
  margin: 0 0 2rem;
  text-align: left;
  font-size: 0.95rem;
  line-height: 1.6;
}
.feature-list li {
  margin-bottom: 0.8rem;
}
.bullet {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #3b82f6;
  border-radius: 50%;
  margin-right: 0.6rem;
}

.user-popup {
  position: fixed; /* float over the page */
  top: 10rem;
  background: black;
  border: 1px solid #333;
  border-radius: 12px;
  padding: 2rem 3rem;
  color: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.4);
  z-index: 9999;
  width: 230px;
  height: 350px;
  text-align: center;
  animation: popupFade 0.3s ease;
}
.user-popup .close-btn {
  position: absolute;
  top: 4px;
  right: 6px;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}

.profile-pic {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

.email {
  font-size: 0.8rem;
  color: #bbb;
}
 .u-name{
  font-size: 2rem;
}

@keyframes popupFade {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

/* Footer */
.footer-text {
  font-size: 0.8rem;
  color: #737373;
  margin-top: 1.2rem;
}
